<div class="w-60" class="requerement__content">
    <div class="requirement__title">
        <p>Requirements</p>
        <div>
            <ul>
                <li>Access to a computer with an internet connection.</li>
            </ul>
        </div>
    </div>
    <div class="requirement__title">
        <p>Requirements</p>
        <div class="text-left">
            <span>Become a Python Programmer and learn one of employer's most requested skills of 2020!

                This is the most comprehensive, yet straight-forward, course for the Python programming language on
                Udemy! Whether you have never programmed before, already know basic syntax, or want to learn about the
                advanced features of Python, this course is for you! In this course we will teach you Python 3.

                With over 100 lectures and more than 21 hours of video this comprehensive course leaves no stone
                unturned! This course includes quizzes, tests, coding exercises and homework assignments as well as 3
                major projects to create a Python project portfolio!

                Learn how to use Python for real-world tasks, such as working with PDF Files, sending emails, reading
                Excel files, Scraping websites for informations, working with image files, and much more!

                This course will teach you Python in a practical manner, with every lecture comes a full coding
                screencast and a corresponding code notebook! Learn in whatever manner is best for you!

                We will start by helping you get Python installed on your computer, regardless of your operating system,
                whether its Linux, MacOS, or Windows, we've got you covered.

            </span>
        </div>
        <div class="mt-2">
            <b>We cover a wide variety of topics, including:</b>
            <ul>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
                <li>Command Line Basics</li>
            </ul>
        </div>
        <div class="text-left">
            <span>You will get lifetime access to over 100 lectures plus corresponding Notebooks for the lectures!

                This course comes with a 30 day money back guarantee! If you are not satisfied in any way, you'll get
                your money back. Plus you will keep access to the Notebooks as a thank you for trying out the course!

                So what are you waiting for? Learn Python in a way that will advance your career and increase your
                knowledge, all in a fun and practical way!</span>
        </div>
        <div class="mt-2">
            <div class="text-bold"><b>Who this course is for:</b></div>
            <ul>
                <li>Beginners who have never programmed before.</li>
                <li>Programmers switching languages to Python.</li>
                <li>Intermediate Python programmers who want to level up their skills!</li>
            </ul>
        </div>
    </div>
</div>