<div class="w-60" class="feedback__content mt-5">
    <div class="feedback__title">
        <p>Student feedback</p>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="text-center">
                <p class="feedback__score">4.6</p>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <h5>Course Rating</h5>
            </div>
        </div>
        <div class="col-6">
            <div class="progress my-3">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress my-3">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress my-3">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress my-3">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress my-3">
                <div class="progress-bar bg-warning " role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="mt-2">
                <div>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <span>54%</span>
                </div>
            </div>
            <div class="">
                <div>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <span>54%</span>
                </div>
            </div>
            <div class="">
                <div>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <span>54%</span>
                </div>
            </div>
            <div class="">
                <div>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <span>54%</span>
                </div>
            </div>
            <div class="">
                <div>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <span>54%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback__title pt-3">
        <p>Reviews</p>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <div class="feedback__search">
                <input type="text">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-6">
            <div class="feedback__select">
                <select class="w-100 border-0">
                    <option>All ratings</option>
                    <option>All ratings</option>
                    <option>All ratings</option>
                    <option>All ratings</option>
                    <option>All ratings</option>
                </select>
            </div>
        </div>
    </div>
    <div class="feed_comment ml-1 d-flex">
        <div class="comment_name mr-3">
            PM
        </div>
        <div class="comment_content">
            <h5>Pratik Mahajan</h5>
            <div>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <span>a week ago</span>

            </div>
            <p>Amazing course specially for someone who has no idea about Pytho
                n. This course starts from very basic and slowly goes into advance
                d topics in a very detailed manner. There are lot of hands-on exercises
                to assess your learning and real-world projects to apply your knowledge.Thanks for this course.
            </p>
            <p>Was this review helpful?</p>
            <i class="fa fa-thumbs-up mr-3 comment__icon"></i>
            <i class="fa fa-thumbs-down mr-3 comment__icon"></i>
            <span class="comment__report">Report</span>
        </div>
    </div>
    <hr>
    <div class="feed_comment ml-1 d-flex">
        <div class="comment_name mr-3">
            PM
        </div>
        <div class="comment_content">
            <h5>Pratik Mahajan</h5>
            <div>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <span>a week ago</span>

            </div>
            <p>Amazing course specially for someone who has no idea about Pytho
                n. This course starts from very basic and slowly goes into advance
                d topics in a very detailed manner. There are lot of hands-on exercises
                to assess your learning and real-world projects to apply your knowledge.Thanks for this course.
            </p>
            <p>Was this review helpful?</p>
            <i class="fa fa-thumbs-up mr-3 comment__icon"></i>
            <i class="fa fa-thumbs-down mr-3 comment__icon"></i>
            <span class="comment__report">Report</span>
        </div>
    </div>
    <hr>
    <div class="feed_comment ml-1 d-flex">
        <div class="comment_name mr-3">
            PM
        </div>
        <div class="comment_content">
            <h5>Pratik Mahajan</h5>
            <div>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <span>a week ago</span>

            </div>
            <p>Amazing course specially for someone who has no idea about Pytho
                n. This course starts from very basic and slowly goes into advance
                d topics in a very detailed manner. There are lot of hands-on exercises
                to assess your learning and real-world projects to apply your knowledge.Thanks for this course.
            </p>
            <p>Was this review helpful?</p>
            <i class="fa fa-thumbs-up mr-3 comment__icon"></i>
            <i class="fa fa-thumbs-down mr-3 comment__icon"></i>
            <span class="comment__report">Report</span>
        </div>
    </div>
    <hr>
    <div class="feed_comment ml-1 d-flex">
        <div class="comment_name mr-3">
            PM
        </div>
        <div class="comment_content">
            <h5>Pratik Mahajan</h5>
            <div>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <span>a week ago</span>

            </div>
            <p>Amazing course specially for someone who has no idea about Pytho
                n. This course starts from very basic and slowly goes into advance
                d topics in a very detailed manner. There are lot of hands-on exercises
                to assess your learning and real-world projects to apply your knowledge.Thanks for this course.
            </p>
            <p>Was this review helpful?</p>
            <i class="fa fa-thumbs-up mr-3 comment__icon"></i>
            <i class="fa fa-thumbs-down mr-3 comment__icon"></i>
            <span class="comment__report">Report</span>
        </div>
    </div>
    <hr>
    <div class="feed_comment ml-1 d-flex">
        <div class="comment_name mr-3">
            PM
        </div>
        <div class="comment_content">
            <h5>Pratik Mahajan</h5>
            <div>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <span>a week ago</span>

            </div>
            <p>Amazing course specially for someone who has no idea about Pytho
                n. This course starts from very basic and slowly goes into advance
                d topics in a very detailed manner. There are lot of hands-on exercises
                to assess your learning and real-world projects to apply your knowledge.Thanks for this course.
            </p>
            <p>Was this review helpful?</p>
            <i class="fa fa-thumbs-up mr-3 comment__icon"></i>
            <i class="fa fa-thumbs-down mr-3 comment__icon"></i>
            <span class="comment__report">Report</span>
        </div>
    </div>
    <hr>
</div>