<div class="banner__content text-white ml-5">
    <div class="banner__link mb-3 mt-4">
        <a href="" class="mr-3">Development</a>
        <i class="fa fa-angle-right mr-3" aria-hidden="true"></i>
        <a href="" class="mr-3">Programing Language</a>
        <i class="fa fa-angle-right mr-3" aria-hidden="true"></i>
        <a href="">{{course.danhMucKhoaHoc.tenDanhMucKhoaHoc}}</a>
    </div>
    <div class="banner__detail">
        <h5>{{course.biDanh}}</h5>
        <p class="banner_description">{{course.moTa}}</p>
        <p class="m-0 Bestseller mb-3 mr-3">Bestseller</p>
        <p class="card-text m-0 d-inline">4.6
            <i class="fa fa-star ml-2" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="ml-2"> (314,745 ratings) {{course.soLuongHocVien}} students</span>
        </p>
        <p class="d-block">Create by <a href="">{{course.nguoiTao.hoTen}}</a></p>
        <div class="mb-3">
            <i class="fa fa-exclamation-circle d-block-inline mr-3"></i>
            <p class="d-inline mr-3">Last updated {{course.ngayTao}}</p>
            <i class="fa fa-globe d-inline mr-3"></i>
            <p class="d-inline mr-3">English</p>
        </div>
        <div>
            <i class="fa fa-language d-inline mr-3"></i>
            <p class="d-inline mr-3 w-60">English [Auto], French [Auto], German [Auto], Italian [Auto], Polish [Auto], Portuguese
                [Auto], Spanish
                [Auto]</p>
        </div>
        <div class="mt-3">
            <a href="">
                <button class="butn-secondary mr-3">Wishlist <i class="fa fa-heart" aria-hidden="true"></i></button>
            </a>
            <a href="">
                <button class="butn-secondary mr-3">Share <i class="fa fa-heart" aria-hidden="true"></i></button>
            </a>
            <a href="" >
                <button class="butn-secondary">Gift this course</button>
            </a>
        </div>
    </div>
</div>