<div id="carouselExampleSlidesOnly" class="carousel slide slider" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/img/slider.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div class="slider__search">
    <h4>Learn on your schedule</h4>
    <p class="w-60">Study any topic, anytime. Choose from thousands of expert-led courses now.</p>
    <div class="slider__search__content">
        <input type="text" placeholder="What do you want to learn?"> <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</div>