<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="patner__img">
            <img src="https://img-a.udemycdn.com/home/non-student-cta/udlite-lohp-promo-teacher.jpg" alt="">
        </div>
    </div>
    <div class="col-4">
        <div class="patner__instructor">
            <div class="patner__instructor__content">
                <h5>Become an instructor</h5>
                <p>Top instructors from around the world teach millions of students on Udemy. We provide the tools and
                    skills to teach what you love.</p>
                <button class="butn">Start teaching today</button>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<hr>
<div class="row mt-5">
    <div class="col-12 text-center">
        <h5>Trusted by companies of all sizes</h5>
    </div>
</div>
<div class="patner__logo m-5">
    <div class="logo-item"><img alt="booking" width="151" height="26"
            src="https://i.udemycdn.com/partner-logos/booking-logo.svg"></div>
    <div class="logo-item mr-5"><img alt="volkswagen" width="32" height="32"
            src="https://i.udemycdn.com/partner-logos/volkswagen-logo.svg"></div>
    <div class="logo-item mr-5"><img alt="mercedes" width="148" height="28"
            src="https://i.udemycdn.com/partner-logos/mercedes-logo-v2.svg"></div>
    <div class="logo-item mr-5"><img alt="adidas" width="47" height="32"
            src="https://i.udemycdn.com/partner-logos/adidas-logo.svg"></div>
    <div class="logo-item mr-5"><img alt="eventbrite" width="115" height="32"
            src="https://i.udemycdn.com/partner-logos/eventbrite-logo.svg"></div>
</div>
<hr>
<div class="row mt-5 patner__business">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="patner__instructor">
            <div class="patner__instructor__content">
                <h5>Udemy for Business</h5>
                <p>Get unlimited access to 4,000+ of Udemy’s top courses for your team.</p>
                <button class="butn">Get Udemy for Business</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="patner__img">
            <img src="https://img-a.udemycdn.com/home/non-student-cta/udlite-lohp-promo-ufb.jpg" alt="">
        </div>
    </div>

    <div class="col-2"></div>
</div>
<hr>

<div class="row mt-5 patner__video">
    <div class="col-1"></div>
    <div class="col-5">
        <div class="patner__img">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QFIhEmOd6No" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-4">
        <div class="patner__instructor pl-5">
            <div class="patner__instructor__content">
                <h5>Transform your life through education</h5>
                <p>Mohamad Alaloush launched a new career in software development by taking courses on Udemy. What will you be able to do?</p>

            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<hr>