<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-header></app-header>
            </div>
        </div>
    </div>
</header>

<div id="header" class="pt-4">
    <div class="row cart__price text-center">
        <div class="col-12">
            <h5 class="d-inline mr-2">$18.99</h5>
            <span>$129.99 Discount 85% off</span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 text-center">
            <button class="btn_cart__price">
                Add to cart
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn_cart__buy">
                Buy now
            </button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 cart__money_back">
            <p>30-Day Money-Back Guarantee</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pl-5 cart__description">
            <p>This course includes:</p>
            <ul>
                <li><i class="fa fa-play-circle mr-2"></i>21.5 hours on-demand video</li>
                <li><i class="fa fa-play-circle mr-2"></i>14 articles</li>
                <li><i class="fa fa-play-circle mr-2"></i>19 coding exercises</li>
                <li><i class="fa fa-play-circle mr-2"></i>Full lifetime access</li>
                <li><i class="fa fa-play-circle mr-2"></i>Access on mobile and TV</li>
                <li><i class="fa fa-play-circle mr-2"></i>Certificate of completion</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn_cart__apply">
                Apply now
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 px-5">
            <h5>Training 5 or more people?</h5>
            <p>Get your team access to 4,000+ top Udemy courses anytime, anywhere.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn_cart__buy">
                Try Udemy for Business
            </button>
        </div>
    </div>
</div>


<header class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-banner></app-banner>
            </div>
        </div>
    </div>
</header>

<section class="learn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-will-learn></app-will-learn>
            </div>
        </div>
    </div>
</section>

<section class="description">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-course-description></app-course-description>
            </div>
        </div>
    </div>
</section>

<section class="description">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-course-requirement></app-course-requirement>
            </div>
        </div>
    </div>
</section>

<section class="description">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-course-feedback></app-course-feedback>
            </div>
        </div>
    </div>
</section>

<section class="footer my-5">
    <div class="container-fluid">
        <app-course-footer></app-course-footer>
    </div>
</section>