<div class="row">
    <div class="col-12">
        <h5>Top categories</h5>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top" src="https://i.udemycdn.com/home/top-categories/lohp-category-design.jpg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Design</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-development.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Development</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-marketing.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Marketing</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-it-and-software.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">IT and Software</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-personal-development.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Personal Development</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-business.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Business</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top"
                        src="https://i.udemycdn.com/home/top-categories/lohp-category-photography.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Photograpphy</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="categories__item mt-3">
            <a href="">
                <div class="card">
                    <img class="card-img-top" src="https://i.udemycdn.com/home/top-categories/lohp-category-music.jpg"
                        alt="">
                    <div class="card-body">
                        <h4 class="card-title">Music</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <h5>Featured topics by category</h5>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <p class="categories__topic">Development</p>
        <div class="categories__option">
            <p>Python</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option my-5">
            <p>Web Development</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option">
            <p>Machine Learning</p>
            <span>19,646,441 students</span>
        </div>
    </div>
    <div class="col-3">
        <p class="categories__topic">Development</p>
        <div class="categories__option">
            <p>Python</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option my-5">
            <p>Web Development</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option">
            <p>Machine Learning</p>
            <span>19,646,441 students</span>
        </div>
    </div>
    <div class="col-3">
        <p class="categories__topic">Development</p>
        <div class="categories__option">
            <p>Python</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option my-5">
            <p>Web Development</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option">
            <p>Machine Learning</p>
            <span>19,646,441 students</span>
        </div>
    </div>
    <div class="col-3">
        <p class="categories__topic">Development</p>
        <div class="categories__option">
            <p>Python</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option my-5">
            <p>Web Development</p>
            <span>19,646,441 students</span>
        </div>
        <div class="categories__option">
            <p>Machine Learning</p>
            <span>19,646,441 students</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div>
            <button class="butn mt-3">Explore more</button>
        </div>
    </div>
</div>
