<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-header></app-header>
            </div>
        </div>
    </div>
</header>
<nav class="carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-slider></app-slider>
            </div>
        </div>
    </div>
</nav>
<section class="home__content mt-5">
    <div class="container-fluid">
        <app-home-content></app-home-content>
    </div>
</section>
<app-sologan></app-sologan>

<section class="categories mt-3">
    <div class="container-fluid">
        <app-categories></app-categories>
    </div>
</section>
<section class="patner mt-5">
    <div class="container-fluid">
        <app-home-patner></app-home-patner>
    </div>
</section>

<section class="footer my-5">
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
</section>

<app-login></app-login>
<app-signup></app-signup>